{% extends "membership/edit_person.html" %}

{% block more_head %}
    {{block.super}}
    <script>
        $(document).ready(function(){
           $("#id_is_partner").prop("checked", false);
           $("#fieldset_is_partner").hide();
           $("#fieldset_groups").hide();
           $("#fieldset_interests").hide();
           $("#div_questions label").css({"width": "800px"});
        });
    </script>

{% endblock %}


{% block extra %}

<fieldset id="visits">
    <legend>Visits</legend>
    <div id="div_visits">
        <label for="id_visits">Visits</label>
        {{ form.visits.errors }}
        {{ form.visits}}
    </div>
</fieldset>

<fieldset id="questions">
    <legend>I want to know more about....</legend>
    <div id="div_questions" class="clear_style">
        {{ form.questions.errors }}
        {{ form.questions }}
    </div>
</fieldset>

<fieldset id="hear_about">
    <legend>How Did you Hear About One?</legend>
    {{ form.heard_by.errors }}
    {{ form.heard_by }}
</fieldset>

{{ block.super }}



{% endblock %}


