{% extends "membership/membership_base.html" %}

{% block header_title %}Membership{% endblock %}

{% block more_head %}
<link rel="stylesheet" href="{{MEDIA_URL}}development-bundle/themes/base/jquery.ui.all.css">
<!--
<script src="{{MEDIA_URL}}development-bundle/ui/jquery.ui.core.js"></script>
-->
<script src="{{MEDIA_URL}}development-bundle/ui/jquery.ui.widget.js"></script>
<script src="{{MEDIA_URL}}development-bundle/ui/jquery.ui.datepicker.js"></script>
<script src="{{MEDIA_URL}}js/jquery.multiselect.min.js"></script>
<script src="{{MEDIA_URL}}css/jquery.multiselect.css"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/admin/RelatedObjectLookups.js"></script>
<!--script type="text/javascript" src="http://thrust-media.s3.amazonaws.com/one_info/static/admin/js/core.js"></script>
<script type="text/javascript" src="http://thrust-media.s3.amazonaws.com/one_info/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="http://thrust-media.s3.amazonaws.com/one_info/static/admin/js/jquery.init.js"></script-->
<script type="text/javascript" src="http://thrust-media.s3.amazonaws.com/one_info/static/admin/js/actions.js"></script>
<script type="text/javascript" src="http://thrust-media.s3.amazonaws.com/one_info/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="http://thrust-media.s3.amazonaws.com/one_info/static/admin/js/admin/DateTimeShortcuts.js"></script>
       <script>
           $(document).ready(function() {
               $("#id_dob").datepicker();
               $("#id_phone option:not(:selected)").remove();
               $("#id_email option:not(:selected)").remove();
               $("#id_medical_conditions option:not(:selected)").remove();
               $("#id_interests").multiSelect();
               $("#id_groups").multiSelect();
               $("#div_additional_info").hide()
               $("#div_groups").hide();
               $("#div_interests").hide();
               $("#toggle_additional_info").click(function(){$('#div_additional_info').toggle("slow"); });
               $("#toggle_groups").click(function(){$('#div_groups').toggle("slow"); });
               $("#toggle_interests").click(function(){$('#div_interests').toggle("slow"); });
           });

</script>

{% endblock %}

<!--
{% block alert %}{% endblock %}
{% block stats %}{% endblock %}
{% block activity %}{% endblock %}
{% block tasks %}{% endblock %}
{% block post_new %}{% endblock %}
{% block other %}{% endblock %}
-->

{% block main %}
<article class="sixteen columns">
    <header><h3>{% block form_title %}{{ flash }}{% endblock %}</h3></header>
    {% if form.subject.errors %}
    <ol>
        {% for error in form.non_field_errors.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    <div class="sixteen columns">
        <form id="form1" name="form1" method="POST" xaction="test_handler" action="" enctype="multipart/form-data">
            {{ form.non_field_errors }}
            <div class="row">
            <fieldset id="fieldset_is_active" class="eight column">
                <div>
                    <label for="is_active">Active</label>
                    {{ form.is_active }}
                    <div class="errorlist">{{ form.is_active.errors }}</div>
                </div>
                <div>
                    <label for="is_partner">Partner</label>
                    {{ form.is_partner }}
                    <div class="errorlist">{{ form.is_partner.error }}</div>
                </div>
                <div>
                    <label for="service">What Service do you attend?</label>
                    {{ form.service }}
                    {{ form.service.errors}}
                </div>
            </fieldset>
            </div>
            <fieldset id="fieldset_name" style="clear: both; padding-bottom: 40px;">
                <legend>Name</legend>
                <label for="prefix">Title</label>
                {{ form.prefix.errors }}
                {{ form.prefix }}
                <label for="first_name">First Name</label>
                <div class="errorlist">{{ form.first_name.errors }}</div>
                {{ form.first_name }}
                <label for="middle_name">Middle Name</label>
                <div class="errorlist">{{ form.middle_name.errors }}</div>
                {{ form.middle_name }}
                <label for="last_name">Last Name</label>
                <div class="spacer"/>
                <div class="errorlist">{{ form.last_name.errors }}</div>
                {{ form.last_name }}
                <label for="suffix">Suffix</label>
                <div class="errorlist">{{ form.suffix.errors }}</div>
                {{ form.suffix }}
            </fieldset>
            <fieldset id="fieldset_personal_info">
                <legend>Personal Info</legend>
                <label for="dob">Date of Birth</label>
                <div class="errorlist">{{ form.dob.errors }}</div>
                {{ form.dob }}
                <label for="gender">Gender</label>
                <div class="errorlist">{{ form.gender.errors }}</div>
                {{ form.gender }}
                <label for="ethnicity">Ethnicity</label>
                {{ form.ethnicity.errors }}
                {{ form.ethnicity }}
            </fieldset>
            <fieldset id="fieldset_contact_info">
                <legend>Contact Info</legend>
                <label for="phone">Phone Number</label>
                {{ form.phone.errors }}
                {{ form.phone }}
                <label for="email">eMail</label>
                {{ form.email.errors }}
                {{ form.email }}
            </fieldset>
            <fieldset id="fieldset_address">
                <legend>Address</legend>
                <label for="address_1">address 1</label>
                {{ form.address_1.errors }}
                {{ form.address_1 }}
                <label for="address_2">address 2</label>
                {{ form.address_2.errors }}
                {{ form.address_2 }}
                <label for="city">City</label>
                {{ form.city.errors }}
                {{ form.city }}
                <label for="state">State</label>
                {{ form.state.errors }}
                {{ form.state }}
                <label for="zip">Zip</label>
                {{ form.zip.errors }}
                {{ form.zip }}
            </fieldset>
            <fieldset id="fieldset_other_info">
                <legend>Other info</legend>
                <label for="marital_status">Marital Status</label>
                {{ form.marital_status.errors }}
                {{ form.marital_status }}
                <label for="occupation_employer">Occupation/Employer</label>
                {{ form.occupation_employer.errors }}
                {{ form.occupation_employer }}
            </fieldset>
            <div style="margin-bottom: 40px;"></div>
            <div id="fieldset_groups">
               <div class="more_info" id='toggle_groups'>Groups I am currently serving</div>
                <div id="div_groups" class="clear_style">
                    {{ form.groups.errors }}
                    {{ form.groups }}
                </div>
            </div>
            <div id="fieldset_interests">
            <div class="more_info" id='toggle_interests'>Groups I would like to serve</div>
                <div id="div_interests" class="clear_style">
                    {{ form.interests.errors }}
                    {{ form.interests }}
                </div>
            </div>
            <div class="more_info" id='toggle_additional_info'>Notes and other optional information</div>
            <div id="div_additional_info" style="margin-bottom: 100px;">
            {% block extra %}
            <fieldset id="fieldset_notes">
                <legend>Notes</legend>
                <label for="notes">Notes</label>
                {{ form.notes.errors }}
                {{ form.notes }}
            </fieldset>
            <fieldset id="fieldset_medical_conditions">
                <legend>Medical Conditions</legend>
                <label for="medical_conditions">Medical Conditions</label>
                {{ form.medical_conditions.errors }}
                {{ form.medical_conditions }}
            </fieldset>
            <fieldset id="fieldset_photo">
                <legend>Personal Photo</legend>
                <label for="photo">Upload a personal photo</label>
                {{ form.photo.errors }}
                {{ form.photo }}
            </fieldset>
            {% endblock %}
            </div>
            <div style="margin-bottom: 80px;"></div>
            <div class="submit_link">
                <input type="submit" value="Submit" class="alt_btn">
                <input type="submit" value="Reset">
            </div>
            {% csrf_token %}
        </form>
    </div>
    <footer>
    </footer>
</article>
<div style="margin-bottom: 100px;"></div>
<!-- end of post new article -->
{% endblock %}