{% extends "membership/edit_person.html" %}

{% block more_head %}
    {{block.super}}
    <script>
        $(document).ready(function(){
           $("#id_is_partner").prop("checked", false);
           $("#fieldset_is_partner").hide();
           $("#fieldset_groups").hide();
        });
    </script>

{% endblock %}


{% block extra %}

{{ block.super }}

<fieldset id="">
    <legend>How Did you Hear About One?</legend>
    {{ form.heard_by.errors }}
    {{ form.heard_by }}
</fieldset>

{% endblock %}


