{% extends "membership/edit_person.html" %}

{% block more_head %}
{{block.super}}
<script type="text/javascript">
    $(document).ready(function(){
        $("#id_is_partner").prop("checked", false);
        $("#id_is_partner").hide();
        $("#fieldset_other_info").hide();
        $("#fieldset_groups").hide();
        $("#fieldset_interests").hide();
        $("#fieldset_is_partner").hide();
        $("#id_parent_guardian option:not(:selected)").remove();
        $("#id_medical_conditions option:not(:selected)").remove();
    });
</script>
{% endblock %}

{% block extra %}
<fieldset id="fieldset_parent_guardian">
    <legend>Parents/Guardians</legend>
    <label for="parent_guardian">Parent / Gaurdian</label>
    <div class="errorlist">{{ form.parent_guardian.errors }}</div>
    {{ form.parent_guardian }}
</fieldset>
{{ block.super }}
{% endblock %}


