{% extends "membership/membership_base.html" %}

{% block header_title %}Membership{% endblock %}

<!--
{% block alert %}{% endblock %}
{% block stats %}{% endblock %}
{% block activity %}{% endblock %}
{% block tasks %}{% endblock %}
{% block post_new %}{% endblock %}
{% block other %}{% endblock %}
-->

{% block main %}
<article class="module width_full">
    <div class="module_content">
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.
           Cras justo odio, dapibus ac facilisis in, egestas eget quam.
           Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
            ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac,
            vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>

        <div style="margin-right:15px; width: 25%; float: right; text-align: right;">
            <div>
                <img src="{{ MEDIA_URL }}images/one_logo.png" />
            </div>
        <div style="padding-top: 3px;">
            <img src="http://www.placehold.it/100/red&text=Metrics Image"/>
            <img src="http://www.placehold.it/100/blue&text=Metrics Image"/>
            <img src="http://www.placehold.it/100/blue&text=Metrics Image"/>
            <img src="http://www.placehold.it/100&text=Metrics Image"/>
        </div>
        </div>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis
            in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare
            sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Donec ullamcorper nulla
            non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    </div>
    <div style="margin-top: 400px;"></div>
</article><!-- end of post new article -->
{% endblock %}