{% extends "membership/membership_base.html" %}

{% block header_title %}Membership{% endblock %}

<!--
{% block alert %}{% endblock %}
{% block stats %}{% endblock %}
{% block activity %}{% endblock %}
{% block tasks %}{% endblock %}
{% block post_new %}{% endblock %}
{% block other %}{% endblock %}
-->

{% block main %}
<article class="module width_full">
    <header><h3>View/Edit Partner</h3></header>
    <fieldset>
        <p>Some Stuff Here</p>
    </fieldset>
</article><!-- end of post new article -->
{% endblock %}