<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Dashboard - Information and Registration System</title>
	
    <!--link href='{{ MEDIA_URL }}skeleton/stylesheets/base.css' rel='stylesheet' /-->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/layout.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/one_info.css" type="text/css" media="screen" />
    <link href='{{ MEDIA_URL }}skeleton/stylesheets/skeleton.css' rel='stylesheet' />
    <link href='{{ MEDIA_URL }}skeleton/stylesheets/layout.css' rel='stylesheet' />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js"></script>
    <script type="text/javascript" src='{{ MEDIA_URL }}skeleton/javascripts/tabs.js'></script>

{% block more_head %}{% endblock %}
</head>


<body>
    {% block header %}
	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="index.html">One Community Church</a></h1>
			<h2 class="section_title">{% block header_title %}Dashboard{% endblock %}</h2><div class="btn_view_site"><a href="/">Home</a></div>
		</hgroup>
	</header> <!-- end of header bar -->
    {% endblock %}

    {% block secondary_bar %}
	<section id="secondary_bar">
		<div class="user">
			<p>Welcome {{ user.username }}!</p>
			<a class="logout_user" href="/logout" title="Logout">Logout</a>
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="/">Home</a> <div class="breadcrumb_divider"></div> <a class="current">Dashboard</a></article>
		</div>
	</section><!-- end of secondary bar -->
    {% endblock %}

    {% block sidebar %}
	<aside id="sidebar" class="column">
		<form class="quick_search">
			<input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
		<hr/>
		<h3>Partners and Visitors</h3>
		<ul class="toggle">
			<li class="icn_add_user"><a href="/membership/edit_person">Add Partner</a></li>
            <li class="icn_add_user"><a href="/membership/edit_visitor">Add Visitor</a></li>
            <li class="icn_add_user"><a href="/membership/edit_child">Add Child</a></li>
            <li class="icn_add_user"><a href="/membership/edit_task">Add Task</a></li>
			<li class="icn_view_users"><a href="/membership/view/partners">View Partners</a></li>
            <li class="icn_view_users"><a href="/membership/view/visitors">View Visitors</a></li>
            <li class="icn_view_users"><a href="/membership/visitor_report">Visitors Report View</a></li>
            <li class="icn_view_users"><a href="/membership/view/children">View Children</a></li>
            <li class="icn_view_users"><a href="/membership/tasks">View Tasks</a></li>
			<li class="icn_profile"><a href="#">Your Profile</a></li>
		</ul>
		<h3>Admin</h3>
		<ul class="toggle">
			<li class="icn_settings"><a href="/admin/auth/user" target="new">Users</a></li>
			<li class="icn_security"><a href="/admin/auth/group" target="new">Groups</a></li>
			<li class="icn_jump_back"><a href="/admin/membership" target="new">Data</a></li>
		</ul>
		
		<footer>
			<hr />
            <div style="text-align: center;">
                <img src="{{ MEDIA_URL }}images/one_logo.png"/>
            </div>
			<p><strong>Copyright &copy; 2012 One Community Church</strong></p>
            <div class="spacer"></div>
		</footer>
	</aside><!-- end of sidebar -->
    {% endblock %}

	<section id="main" class="column">
    <div class="container module">
    {% block main %}
        {% block alert %}
		<h4 class="alert_info">Welcome to the OCC Information and Registration (I.R.S) admin panel, this could be an informative message.</h4>
	    {% endblock %}

         <!------------ MAIN CONTENT GOES HERE !!!!! ---------->
    {% endblock %}
    </div>
    <!-- End main block -->
	</section>


</body>

</html>